.navbar {
  display: flex;
  flex-direction: row;
  background-color: limegreen;
  width: 100%;
  justify-content: space-around;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s;
}
.navbar a:hover {
  background-color: #575757;
}
.navbar button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 0px;
  transition: background-color 0.3s;
}
.navbar button:hover {
  background-color: #ff4d4d;
}
